---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPost from '../../components/BlogPost/index'
const pageTitle = 'My Astro Learning Blog'
const allPosts = await Astro.glob('../../pages/posts/*.md')
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="mb-10 md:w-11/12 m-auto container mx-auto w-full"
    id="blogPostsContainer"
  >
    <ul
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10"
    >
      {
        allPosts.map((post) => {
          return (
            <BlogPost
              cover={post.frontmatter.cover}
              coverAlt={post.frontmatter.coverAlt}
              description={post.frontmatter.description}
              url={post.url}
              title={post.frontmatter.title}
            />
          )
        })
      }
    </ul>
  </div>
</BaseLayout>
