---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost'
import World from '../components/World'
import SphereComponent from '../components/SphereComponent'
import MarqueeWithImages from '../components/Marquee'
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = 'Pooya Golchian | Senior Software Engineer'
---

<BaseLayout pageTitle={pageTitle}>
  <World client:only="react" />

  <div class="pb-28 md:w-11/12 m-auto container mx-auto w-full pt-28">
    <h3 class="h2 py-10">Blog</h3>
    <ul
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 blog-posts"
    >
      {
        allPosts.map((post) => {
          return (
            <BlogPost
              cover={post.frontmatter.cover}
              coverAlt={post.frontmatter.coverAlt}
              description={post.frontmatter.description}
              url={post.url}
              title={post.frontmatter.title}
            />
          )
        })
      }
    </ul>
  </div>

  <!-- <div class="md:w-11/12 m-auto container mx-auto w-full relative"> -->
  <!--   <div class="flex justify-start align-middle flex-col"> -->
  <!--     <h3 class="h2">Github</h3> -->
  <!--     <GitHub client:only="react" /> -->
  <!--   </div> -->
  <!-- </div> -->

  <SphereComponent client:only="react" />
  <MarqueeWithImages client:only="react" />
</BaseLayout>
